/***********************
    Jumbotron
***********************/
.jumbotron {
    height: 25%;
    background-image: url("../shared/country-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
  }